<div>
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between">
    <div
      style="
        margin: 20px 30px;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
      "
    >
      Welcome &nbsp; No.{{ userId }}
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <div class="menu">
        <!-- <div>Posts</div> -->
        <div style="background-color: #4d4949; border-radius: 100%">
          <mat-icon
            [matBadge]="postCount"
            style="padding: 10px; color: white"
            [matMenuTriggerFor]="postMenu"
            title="Posts"
            >notifications</mat-icon
          >
        </div>

        <mat-menu #postMenu="matMenu">
          <div
            class="menu-inner-item"
            style="margin: 0 10px 0 10px"
            *ngFor="let item of posts"
          >
            <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between">
              <div
                class="drop-opt"
                style="cursor: pointer"
                fxFlex="90%"
                (click)="open(item, 'post')"
              >
                {{ item.title }}
              </div>
              <mat-icon
                class="del-item"
                fxFlex="10%"
                (click)="delItem(item.id, 'post')"
                title="delete"
                >delete</mat-icon
              >
            </div>
          </div>
        </mat-menu>
      </div>
      <div class="menu">
        <!-- <div>Comments</div> -->
        <div style="background-color: #4d4949; border-radius: 100%">
          <mat-icon
            [matBadge]="commentCount"
            [matMenuTriggerFor]="commentMenu"
            style="padding: 10px; color: white"
            title="Comments"
            >comment</mat-icon
          >
        </div>

        <mat-menu #commentMenu="matMenu">
          <div
            class="menu-inner-item"
            style="margin: 0 10px 0 10px"
            *ngFor="let item of comments"
          >
            <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between">
              <div
                class="drop-opt"
                fxFlex="90%"
                (click)="open(item, 'comment')"
              >
                {{ item.name }}
              </div>
              <mat-icon
                class="del-item"
                fxFlex="10%"
                (click)="delItem(item.id, 'comment')"
                title="Delete"
                >delete</mat-icon
              >
            </div>
          </div>
        </mat-menu>
      </div>
      <div class="menu">
        <!-- <div>Todos</div> -->
        <div style="background-color: #4d4949; border-radius: 100%">
          <mat-icon
            [matBadge]="todosCount"
            style="padding: 10px; color: white"
            [matMenuTriggerFor]="todosMenu"
            title="Todos"
            >sticky_note_2</mat-icon
          >
        </div>
        <mat-menu #todosMenu="matMenu">
          <div
            class="menu-inner-item"
            style="margin: 0 10px 0 10px"
            *ngFor="let item of todos"
          >
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
              <div class="drop-opt" fxFlex="90%" (click)="open(item, 'todo')">
                {{ item.title }}
              </div>
              <mat-icon *ngIf="item.completed" style="color: green"
                >done</mat-icon
              >
              <mat-icon
                class="del-item"
                fxFlex="10%"
                (click)="delItem(item.id, 'todo')"
                title="delete"
                >delete</mat-icon
              >
            </div>
          </div>
        </mat-menu>
      </div>
      <div class="menu">
        <div style="background-color: #4d4949; border-radius: 100%">
          <mat-icon
            style="padding: 10px; color: white"
            (click)="logout()"
            title="Logout"
            >logout</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
<app-obser-sub-ex></app-obser-sub-ex>
<app-obser-sub-ex2></app-obser-sub-ex2>
