<div fxFlex>
  <div
    style="margin: 10px 5px"
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
  >
    <div
      style="
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        text-align: center;
      "
    >
      {{showForm | titlecase}}
    </div>
    <mat-icon
      color="warn"
      matTooltip="Close dialog"
      (click)="this.dialogRef.close()"
      >cancel</mat-icon
    >
  </div>

  <form *ngIf="showForm == 'post'" [formGroup]="form" (submit)="onSubmit()">
    <div
      style="margin-right: 10px"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
    >
      <div
        style="width: 100%; min-width: 300px"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayout.xm="column"
        fxLayoutAlign="start  center"
      >
        <label
          fxFlex="15%"
          style="
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
          >Title</label
        >
        <div fxFlex>
          <textarea
            formControlName="title"
            name="title"
            id="title"
            style="width: 100%"
          ></textarea>
        </div>
      </div>
      <div
        fxFlex
        style="width: 100%; padding-top: 15px; padding-bottom: 10px"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayout.xm="column"
        fxLayoutAlign="space-between"
      >
        <label
          fxFlex="15%"
          style="
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
          >Body</label
        >
        <div fxFlex>
          <textarea
            style="height: 100px; width: 100%"
            formControlName="body"
            name="body"
            id="body"
          ></textarea>
        </div>
      </div>
      <button type="submit" color="primary" mat-raised-button>Save</button>
    </div>
  </form>

  <form *ngIf="showForm == 'comment'" [formGroup]="form" (submit)="onSubmit()">
    <div
      style="margin-right: 10px"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
    >
      <div
        style="width: 100%; min-width: 300px"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayout.xm="column"
        fxLayoutAlign="space-between"
      >
        <label
          fxFlex="15%"
          style="
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
          >Name</label
        >
        <div fxFlex>
          <textarea
            formControlName="name"
            name="name"
            id="name"
            style="width: 100%"
          ></textarea>
        </div>
      </div>
      <div
        fxFlex
        style="width: 100%; padding-top: 15px; padding-bottom: 10px"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayout.xm="column"
        fxLayoutAlign="space-between "
      >
        <label
          fxFlex="15%"
          style="
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
          >Email</label
        >

        <input
          formControlName="email"
          name="email"
          id="email"
          fxFlex.sm="85%"
          fxFlex.md="85%"
          fxFlex.lg="85%"
          fxFlex.xl="85%"
        />

        <!-- <textarea
          formControlName="email"
          name="email"
          id="email"
          fxFlex="85%"
        ></textarea> -->
      </div>
      <div
        fxFlex
        style="width: 100%; padding-top: 15px; padding-bottom: 10px"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayout.xm="column"
        fxLayoutAlign="space-between"
      >
        <label
          fxFlex="15%"
          style="
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
          >Body</label
        >
        <div fxFlex>
          <textarea
            style="height: 100px; width: 100%"
            formControlName="body"
            name="body"
            id="body"
          ></textarea>
        </div>
      </div>
      <button type="submit" color="primary" mat-raised-button>Save</button>
    </div>
  </form>

  <form *ngIf="showForm == 'todo'" [formGroup]="form" (submit)="onSubmit()">
    <div
      style="margin-right: 10px"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
    >
      <div
        style="width: 100%; min-width: 300px"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayout.xm="column"
        fxLayoutAlign="space-between "
      >
        <label
          fxFlex="15%"
          style="
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
          >Title</label
        >
        <div fxFlex>
          <textarea
            formControlName="title"
            name="title"
            id="title"
            style="width: 100%"
          ></textarea>
        </div>
      </div>

      <div
        fxFlex
        style="width: 100%; padding-top: 15px; padding-bottom: 10px"
        fxLayout="row wrap"
        fxLayoutAlign="end center"
        fxLayoutAlign.xs="center center"
        fxLayoutAlign.xm="center center"
      >
        <mat-checkbox formControlName="completed">Completed</mat-checkbox>
      </div>
      <button type="submit" color="primary" mat-raised-button>Save</button>
    </div>
  </form>
</div>
